<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Expweb"
            visible="true"
            id="expwebEclipse.actionSet">
         <menu
               label="Expweb &amp;Menu"
               id="expweb">
         </menu>
         <action
               label="&amp;Build Expweb"
               class="com.expedia.expweb.eclipse.ExpBuilder"
               tooltip="Build Expweb"
               menubarPath="expweb/sampleGroup"
               toolbarPath="sampleGroup"
               id="simplemenu.actions.Expweb">
         </action>
      </actionSet>
   </extension>
</plugin>