<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="expwebEclipse.actionSet">
         <menu
               label="Expweb &amp;Menu"
               id="expweb">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Expweb"
               icon="icons/sample.gif"
               class="com.expedia.expweb.eclipse.ExpBuilder"
               tooltip="Hello Expweb"
               menubarPath="expweb/sampleGroup"
               toolbarPath="sampleGroup"
               id="simplemenu.actions.Expweb">
         </action>
      </actionSet>
   </extension>
</plugin>